:root {
	--primaryYellow: #f8af29;
    --secondaryBlack: #25282c;
    --fontBlack: #1e1d23;
    --white: #fff;
    --grey-shadow: #efefef;
   }
   /*main header styling*/
.main_header1 {
  padding-top: ;
  background: #25282c;
  position: relative;
  display: block;
  z-index: 2;
  overflow: hidden;
}
.main_header1:after {
  content: " ";
  position: absolute;
  display: block;
  width: 68%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background: #f8af29;
  -ms-transform: skew(30deg, 0deg);
  -webkit-transform: skew(30deg, 0deg);
  transform: skew(35deg, 0deg) translateX(-50%);
  border-right: 4px solid white;
}
.container_main{
	margin-right: 320px;
	margin-left: 320px;
	}
	.icon_arranging{
		display: flex;
		
		color: var(--white);
	}
	.icon_style{
		color: var(--white);
		padding: 10px 15px 10px 15px;
		border-right: 1px solid #ede7e74d;
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.style_facebook{
		border-left: 1px solid #ede7e74d;
		margin-top: 2px;
		margin-bottom: 2px;
		padding: 10px 18px 10px 18px;
	}
	.logo_header{
		width: 200px;
		height: 90px;
		position: relative;
	}
	.img_sizing{
		height: 60px;
		max-width: 200px;
		margin-top: 13px;
		margin-left: 15px;
	}
	.navbar_styling{
		color: var(--fontBlack) !important;
		font-weight: 600;
		margin-right: 12px;
	}
	.search_icon_style{
		    height: 46%;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 50%;
   background-color: var(--grey-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    margin-top: 23px;
	}
	.btn_styling{
		border: none;
		padding: 14px 24px 14px 24px;
		margin-left: 30px;
		font-size: 14px;
		background-color: var(--primaryYellow);
		color: var(--white);
	}
	.icon_dropdwn{
		font-size: 13px;
		padding-left: 4px;
	}
   /*end of the main header*/


   /*begining of the footer styling*/
   .footer_second_bg{
   	background-color: var(--primaryYellow);
   }
  
   .footer_second_bg1{
   	background-color: var(--secondaryBlack);
   }
   .footer_padding{
   	padding: 40px 0px 40px 0px;
   }
   .footer_email_phn{
   	    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    position: relative;
    padding-left: 50px;
   }
   .footer_emailphn_icon{
   	    font-size: 82px;
    line-height: 180px;
    position: absolute;
    top: -70px;
    opacity: 0.15;
    left: 0;
    -webkit-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
    z-index: 1;
    margin-top: 35px;
   }
   .footer_emailphn_icon:hover{
   	 font-size: 100px;
   	 color: #777777;
   }
   .footer2_padding{
   	padding: 70px 0px 50px 0px;
   }
    /*end of the section */
