:root {
	--primaryYellow: #f8af29;
    --secondaryBlack: #1e1d23;
    --fontBlack: #1e1d23;
    --white: #fff;
    --grey-shadow: #efefef;
    --fontgrey: #5d5c60;
   }
   /*main header styling*/
.main_header1{
  padding-top: ;
  background: #25282c;
  position: relative;
  display: block;
  z-index: 2;
  overflow: hidden;
  display: block;
}
.main_header1:after {
  content: " ";
  position: absolute;
  display: block;
  width: 68%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background: #f8af29;
  -ms-transform: skew(30deg, 0deg);
  -webkit-transform: skew(30deg, 0deg);
  transform: skew(35deg, 0deg) translateX(-50%);
  border-right: 4px solid white;
}
.main_header_2{
	display: flex;
	justify-content: space-between;
}
.logo_handburger_style{
	display: flex;
	justify-content: space-between;
}
.handBurger_style{
	display: flex;
	justify-content: center;
	align-items: center;
}
  /*handBurger dropdown styling*/
  
  .dropbtn_h {
  background-color: var(--primaryYellow);
  color: white;
  width: 50px;
  height: 50px;
  font-size: 27px;
  border: none;
  cursor: pointer;
}

.dropbtn_h:hover, .dropbtn_h:focus {
  background-color: var(--primaryYellow);
}

.dropdown_h {
  position: relative;
  display:  none;
  /*margin-right: 12px;*/
  padding-right: 12px;
}

.dropdown-content_h {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  /*min-width: 160px;*/
  width: 362px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content_h a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_h a:hover {background-color: #ddd;}

.show_h {display: block;}

   /*end of the section*/
.dropdown:hover .dropdown-menu{
    display: block;
    
  }
  .dropdown-item_style{
  	padding: 8px 25px 8px 25px;
  	font-size: 14px;
  	font-weight: 500;
  	line-height: 1.3;
  }		
  .dp_ui{
  	width: 220px;
  	padding: 5px 0px 5px 0px;
  	border-radius: 0;
  }

  /*dropdownAnimation*/

  .animate {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }


@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

 /* end of the section*/

.container_main{
	margin-right: 320px;
	margin-left: 320px;
	}
	.icon_arranging{
		display: flex;
		
		color: var(--white);
	}
	.icon_style{
		color: var(--white);
		padding: 10px 15px 10px 15px;
		border-right: 1px solid #ede7e74d;
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.style_facebook{
		border-left: 1px solid #ede7e74d;
		margin-top: 2px;
		margin-bottom: 2px;
		padding: 10px 18px 10px 18px;
	}
	.logo_header{
		width: 200px;
		height: 90px;
		position: relative;
	}
	.img_sizing{
		height: 60px;
		max-width: 200px;
		margin-top: 13px;
		margin-left: 15px;
	}
	.navbar_styling{
		color: var(--fontBlack) !important;
		font-weight: 600;
		margin-right: 12px;

	}
	
	.search_icon_style{
		    height: 46%;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 50%;
   background-color: var(--grey-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    margin-top: 23px;
	}
	.btn_styling{
		border: none;
		padding: 14px 24px 14px 24px;
		margin-left: 30px;
		font-size: 14px;
		background-color: var(--primaryYellow);
		color: var(--white);
	}
	.icon_dropdwn{
		font-size: 13px;
		padding-left: 4px;
	}
   /*end of the main header*/


   /*begining of the footer styling*/
   .footer_second_bg{
   	background-color: var(--primaryYellow);
   }
  
   .footer_second_bg1{
   	background-color: var(--secondaryBlack);
   }
   .footer_padding{
   	padding: 40px 0px 40px 0px;
   }
   .footer_email_phn{
   	    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    position: relative;
    padding-left: 50px;
   }
   .footer_emailphn_icon{
   	    font-size: 82px;
    line-height: 180px;
    position: absolute;
    top: -70px;
    opacity: 0.15;
    left: 0;
    -webkit-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
    z-index: 1;
    margin-top: 35px;
   }
   .footer_emailphn_icon:hover{
   	 font-size: 100px;
   	 color: #777777;
   }
   .footer2_padding{
   	padding: 70px 0px 50px 0px;
   }
   .copyright_style{
   	color: var(--fontgrey);
   	
   }
   .footer_home_icon{
   	 display: flex;
   	justify-content: end;
   	    margin-top: 22px;
       
   }
   .footer_font{
   	font-size: 15px;
   }
   .footer_font_p{
   	margin-top: 22px;
   	margin-left: 16px;
   }
   .nav_spacing_foot{
   	 padding-left: 30px;
   }
   .nav_spacing_foot:hover{
   	color: var(--primaryYellow);
   }
   .footer_font_icon{
   	font-size: 22px;
   	margin-left: 30px;
   	color: var(--fontgrey);
   }
   .footer_font_icon:hover{
   	color: var(--primaryYellow);
   }
   .phn_p{
   	left: 400px;
   }
    /*end of the section */


    /*responsiveness*/
    @media (max-width: 768px) {
    	 .main_header1{
    	 	display: none !important;
    	 }
    	 .main_header_2{
    	 	display: none;
    	 }
       .nav_spacing_foot{
   	      padding-left: 8px;
   	      padding-right: 8px;
        }
        .footer_home_icon{
        	flex-wrap: wrap;
        	display: flex;
   	      justify-content: center;
        }
        .footer_font_icon{
        	margin-left: 8px;
        	margin-right: 8px;
        }
        .alignment_logo{
        	text-align: center;
        }
        .img_sizing{
        	height: 50px;
        	width: auto;
        	margin-top: 16px;
        	margin-left: 12px;
        }
        .dropdown_h {
        	display: inline-block;
        }
        .footer_email_phn{
        	padding-left: 0px;
        	font-size: 12px;
        }
        .phn_p{
        	left: 0px;
        }
    }
    /*end of the section*/
 
